@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');
@import url('../../fonts/silk-serif-bold/stylesheet.css');
.event-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 75vw;
  margin: 0 auto;
}

.location-image {
  margin: 0.5rem auto;
}

@media only screen and (min-width: 768px) {
  .location-image {
    max-width: 400px;
    max-height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .location-image {
    max-width: 75vw;
    max-height: 350px;
  }
}