.location-image {
  margin: 0.5rem auto;
}

@media only screen and (min-width: 768px) {
  .location-image {
    max-width: 400px;
    max-height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .location-image {
    max-width: 75vw;
    max-height: 350px;
  }
}
